<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{pageTitle}}</title>

  <body>
    {{>header}}

    <h1> greatest portfolio in the world </h1>
  </body>

{{>footer}}

</head>
</html>
